body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(245, 245, 245);
    font-family: Arial, sans-serif;
  }
  
  #defaultCanvas0 {
    width: 90vh !important;
    height: 90vh !important;
    max-width: 90vw;
    max-height: 90vw;
    box-shadow: 
      10px 10px 12px -2px rgba(0, 0, 0, 0.14),
      inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border: 12px solid #aaa;
    border-radius: 8px;
  }

  
  @media (max-width: 768px) {
    #defaultCanvas0 {
      width: 85vh !important;
      height: 85vh !important;
      max-width: 85vw;
      max-height: 85vw;
    }
  }